:root {
    --main-color: #1D3557;
    --back-color: #D4D2D5;
    --gray-section-color: #F3F2F2;
    --text-color: #457B9D;
    --blue-color: #457B9D;
    
    --red-color: #E63946;
    --green-color: #A8DADC;
}