:root {
    --main-color: #6C698D;
    --back-color: #D4D2D5;
    --gray-section-color: #F3F2F2;
    --text-color: #2e3b44;
    --blue-color: #44A1A0;
    
    --red-color: #EF6F6C;
    --green-color: #065143;
}