.program_button_wrapper {
    position: fixed;
    bottom: 10px;
    width: 100vw;
    transform: translateY(200%);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.program_button_wrapper.visible {
    opacity: 1;
    transform: translateY(0);
}

.program_button_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 3px solid var(--main-color);
    font-weight: 100;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background-color: var(--main-color);
    text-decoration: none !important;
    transition: all 0.2s;
}

.program_button_link:hover {
    background-color: white;
    color: var(--main-color);
}

.button_alt_color {
    border: 3px solid var(--red-color);
    background-color: var(--red-color);
}

.button_alt_color:hover {
    background-color: white;
    color: var(--red-color);
}

.program_button_link > svg {
    fill: white;
    transition: fill 0.5s;
    padding-right: 3px;
    width: 28px;
    height: auto;
}

.program_button_link:hover > svg {
    fill: var(--main-color);
}

@media screen and (min-width: 1360px) {
    .program_button_link {
        font-size: 18px;
        line-height: 20px;
        width: 370px;
        height: 55px;
    }
    .program_button_link > svg {
        width: 32px;
    }
}

@media screen and (max-width: 767px) {
    .program_button_link {
        font-size: 14px;
        line-height: 16px;
        width: 290px;
        height: 40px;
    }
    .program_button_link > svg {
        width: 24px;
    }
}
